@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Futura Light";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1190;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$mainWhite: #FFFFFF;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $mainColor;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

.page-main {}


//===================================================================================================================================
.main {

	&__body {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
	}

	&__column-left {
		flex: 1 1 641px;
		min-width: 0;

		@media (max-width:$md2+px) {
			width: 100%;
		}
	}

	&__column-title {
		font-family: 'Futura Bold';
		font-style: normal;
		font-weight: 600;
		@include adaptiv-value("font-size", 40, 28, 1);
		line-height: 130%;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 28px;

		@media (max-width:$md3+px) {
			@include adaptiv-value("margin-top", 148, 88, 1);
		}
	}

	&__column-location {
		font-family: 'Futura Bold';
		display: inline-flex;
		align-items: center;
		background: #FFFFFF;
		box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		padding: 12px 18px;
		font-size: 18px;
		color: #3E3E3E;
		@include adaptiv-value("margin-bottom", 48, 40, 1);

		& span {
			color: #CE7F54;
			font-size: 22px;
			margin-right: 10px;
		}
	}

	&__column-right {
		display: flex;
		justify-content: flex-end;
		margin-right: -60px;
		flex: 1 1 552px;
		// width: 552px;

		@media (max-width:$md1+px) {
			flex: 1 1 100%;
			margin-right: 0;
			justify-content: center;
		}
	}
}

.block-video {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 130px;
	display: flex;
	padding-top: 135px;
	text-align: center;

	@media (max-width:$md1+px) {
		// margin-top: -30px;
		// position: absolute;
		padding-top: -30px;
	}
}

.btn-youtube {
	position: relative;

	& span {
		font-size: 40px;
		color: #fff;
		z-index: 2;
		position: absolute;
		top: 9%;
		margin-left: 45px;
	}

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 129px;
		height: 129px;
		background-color: rgba(206, 127, 84, 1);
		border-radius: 50%;
	}

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 120px;
		height: 120px;
		outline: 2px solid #fff;
		outline-offset: -7px;
	}
}

.video-link {
	top: 130px;
	position: relative;
	font-weight: 600;
	font-size: 12px;
	line-height: 130%;
	color: #FFFFFF;
	display: block;
	text-align: center;
}

.main-block {
	max-width: 400px;
	background: #fff;
	border-radius: 0 80px 0 0;
	padding: 45px 35px 30px 35px;
	margin-left: 30px;
}

.main-block-title {
	font-family: 'Futura Heavy';
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	line-height: 130%;
	text-transform: uppercase;
	color: #1E1E20;
	margin-bottom: 5px;
}

.main-block-subtitle {
	font-family: 'Futura Heavy';
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;
	text-align: center;
	color: #1E1E20;
	margin-bottom: 20px;
}

.main-block-img {
	width: 327px;
	height: 186px;
}

.checkbox {
	margin-bottom: 20px;
}

.button {
	& strong {
		display: block;
	}
}

.btn-form {
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 400;
}


@media (min-width: 768px) {
	.main__hand-list {
		display: none;
		margin-left: 30px;
	}
}

//========================================================================================================================================================
.swslider__container {
	@media (max-width:$md2+px) {
		margin-right: -50px;
	}
}

.swiper {
	width: 100%;
}

.swiper-slide {
	border-radius: 0 40px 0 0;
	padding: 0 0 34px 0;
	width: 202px;

	&:last-child {
		margin-right: 0;
	}
}

.swiper-item {
	position: relative;

	& img {
		border-radius: 0 40px 0 0;
		width: 100%;
		height: 100%;
	}

	&::before {
		content: '';
		position: absolute;
		background: url(../img/main/line.svg) center / cover;
		width: 100%;
		height: 20.5px;
		bottom: 0;
		right: 0;
	}
}

.swiper-title {
	background: #FFFFFF;
	width: 100%;
	padding: 20px 10px;
	font-family: 'Fututa Bold';
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #3E3E3E;
	border-radius: 0 0 20px 20px;
}

.swiper-button-prev {
	// left: -15px !important;
}

.swiper-button-next,
.swiper-button-prev {
	background: #424242 !important;
	border-radius: 50%;
	padding: 10px;
	width: 29px !important;
	height: 29px !important;
}

.swiper-button-prev::after {
	font-size: 12px !important;
	color: #FFFFFF;
}

.swiper-button-prev::before {
	font-size: 12px !important;
	color: #FFFFFF;
}


.swiper-button-next {
	@media (max-width:$md2+px) {
		right: -50px !important;
	}
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: none;
	cursor: auto;
	pointer-events: none;
}

//========================================================================================================================================================


//========================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================